body {
	background-color: black;
	margin: 0;
	color: white;
	font-family: helvetica, arial, sans-serif;
}

a {
	color: white;
}

/* Navigation styles */

body > nav {
	background-color: #004d00;
	position: relative;
}

nav div {
	margin: 0 auto;
	width: 80%;
	padding: 15px; 
}

nav div > a {
	text-decoration: none;
	font-family: "Brush Script MT",sans-serif;
	font-size: 36px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	font-size: 28px;
	width: 100%;
	text-align: center;
}

nav ul a:hover {
	color: #d8ffcc;
	text-decoration: underline;
}

nav ul li a {
	border: 2px solid black;
	padding: 15px;
	background-color: #1e8000;
}

#nav-left {
	display: none;
	background-color: black;
}

#nav-left a:hover {
	color: #73e600;
}

#audio {
	width: 70%;
	margin: 0 auto;
}

audio {
	margin: 10px;
}

#audio h2 {
	font-size: 15px;
}

.first {
	border-top: 4px solid black;
}

button {
	font-size: 45px !important;
	position: absolute;
	top: 7px;
	right: 12px;
	background-color: #004d00;
	border-style: none;
	color: white;
}

span {
	color: white;
}

/* Main styles */

main {
	background-image: url("../img/light-at-the-end-of-the-tunnel.jpg");
}

main:after {
	content:'';
	display: block;
	clear: both;
}

.myslider {
	float: left;
	background-color: rgba(255, 255, 255, 0.3);
}

#about {
	background-color: rgba(255, 255, 255, 0.3);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

#ideal {
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	color: #555555;
}

form {
	width: 80%;
	margin: 0 auto;
	margin: 10px;
	margin-top: 50px;

}

form div {
	margin: 10px;
}

label {
	width: 120px;
	display: inline-block;
}

#submit {
	margin-left: 125px;
	margin-top: 15px;
	background-color: #dddddd;
	padding: 8px 20px;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	font-size: 17px;
}

#art {
	width: 80%;
	margin: 0 auto;
}

#art h1 {
	text-align: center;
}

/* Footer styles */

footer {
	background-color: #004d00;
	padding: 10px;
	margin-top: 10px;
}

footer p:first-child {
	float: left;
}

footer #date {
	float: right;
}

footer a {
	float: right;
	text-decoration: none;
}

footer i {
	font-size: 50px !important;
	margin: 5px;
}

footer:after {
	content: '';
	display: block;
	clear: both;
}

footer #copyright {
	display: none;
}

.poem {
	display: inline-block;
	text-align: left;
}

.unslider {
	background-color: rgba(255, 255, 255, 0.3);

}

.unslider li {
	text-align: center;
}

@media all and (min-width: 550px) {
	nav ul li{
		display: none;
	}

	nav button {
		display: none;
	}

	nav div a {
		font-size: 60px;
	}

	#nav-left {
		display: block;
		width: 250px;
		float: left;
	}
	#nav-left ul {
		list-style: none;
		padding: 0;
	}

	#nav-left li a {
		background-color: #1e8000;
		width: 150px;
		text-align: center;
		margin: 15px;
		display: block;
	}

	#nav-left a {
		text-decoration: none;
		font-family: "Brush Script MT",sans-serif;
		font-size: 50px;
	}

	.unslider {
		width: 70%;
		position: relative;
		left: 100px;

	}

	
	#about {
		margin-left: 250px;
		margin-right: 50px;
		margin-top: 50px;
	}

	form {
		width: 80%;
		margin-left: 100px;
	}

	#ideal {
		width: calc(70% - 20px);
		margin-left: 100px;
	}

	#submit {
		margin-left: 250px;
	}

	#art img {
		margin: 10px;
		float: right;
	}

	.nav-left-art {
		width: 200px !important;
	}

	#art {
	width: 90%;
	}


}

@media all and (min-width: 550px) {
	footer #copyright {
		display: block;
	}
	#nav {
		margin-top: 100px;
		margin-right: 100px;
		margin-bottom: 50px
	}
}

@media all and (min-width: 600px) {
	.nav-left-art {
		margin-bottom: 800px;
	}

	.about-me {
		margin-bottom: 150px !important;
	}

}

@media all and (min-width: 700px) {
	#submit {
		margin-left: 150px;
	}

	#form {
		width: 70%;
		margin:0 auto;
	}
}

@media all and (min-width: 834px) {

	.unslider {
		left: auto;
		width: calc(50% + 20px);
	}

	#ideal {
		width: 50%;
		margin-left: 250px;
	}

	#audio {
		width: 30%;
	}

}

@media all and (min-width: 850px) {
	#about {
		width: 50%;
	}
}

@media all and (min-width: 1050px) {
	form {
		width: 40%;
	}
	.nav-left-art {
		margin-bottom: 400px;
	}
	
	.about-me {
		margin-bottom: 300px !important;
	}
}

@media all and (min-width: 1200px) {
	nav a {
		font-size: 70px;
	}

	#top-nav {
		margin-bottom: 50px;
	}

	#about {
		width: 30%;
		float: right;
		margin-right: 50px;
		margin-top: 0;
	}

	.unslider {
		width: 40%;
	}

	#ideal {
		width: calc(40% - 20px);
		margin-top: 70px;
		float: left;
		margin-left: 0;
	}

	#nav-left {
		padding-bottom: 100px;
	}

	#audio {
		float: right;
		width: 30%;
		margin-top: -100px;
	}

	#art img {
		margin: 20px;
	}

	.about-me {
		width: 50% !important;
		float: left !important;
		margin-top: 20px !important;
	}

	#about-nav,
	#art-nav,
	#submit-nav {
		margin-bottom: 50px;
	}

} 