body {
	background-color: black;
	margin: 0;
	color: white;
	font-family: helvetica, arial, sans-serif;
}

a {
	color: white;
}

/* Navigation styles */

body > nav {
	background-color: #004d00;
	position: relative;
}

nav div {
	margin: 0 auto;
	width: 80%;
	padding: 15px; 
}

nav div > a {
	text-decoration: none;
	font-family: "Brush Script MT",sans-serif;
	font-size: 36px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	font-size: 28px;
	width: 100%;
	text-align: center;
}

nav ul a:hover {
	color: #d8ffcc;
	text-decoration: underline;
}

nav ul li {
	border: 2px solid black;
	padding: 15px;
	background-color: #1e8000;
}

#nav {
	display: none;
	background-color: black;
}

#first {
	border-top: 4px solid black;
}

button {
	font-size: 45px !important;
	position: absolute;
	top: 7px;
	right: 12px;
	background-color: #004d00;
	border-style: none;
	color: white;
}

/* Main styles */

main {
	background-image: url("../img/light-at-the-end-of-the-tunnel.jpg");
}

main:after {
	content:'';
	display: block;
	clear: both;
}

.myslider {
	float: left;
}

#about {
	background-color: rgba(255, 255, 255, 0.3);
	margin: 5px;
	padding: 5px;
}

/* Footer styles */

footer {
	background-color: #004d00;
	padding: 10px;
}

footer p:first-child {
	float: left;
}

footer #date {
	float: right;
}

footer a {
	float: right;
	text-decoration: none;
}

footer i {
	font-size: 50px !important;
	margin: 5px;
}

footer:after {
	content: '';
	display: block;
	clear: both;
}

footer #copyright {
	display: none;
}

@media all and (min-width: 550px) {
	nav ul li{
		display: none;
	}

	nav button {
		display: none;
	}

	nav div a {
		font-size: 60px;
	}

	#nav {
		display: block;
		width: 250px;
		float: left;
		background-color: blue;
	}
	#nav ul {
		list-style: none;
		padding: 0;
	}

	#nav li {
		background-color: #1e8000;
		width: 150px;
		text-align: center;
		margin: 20px;
	}

	#nav a {
		text-decoration: none;
		font-family: "Brush Script MT",sans-serif;
		font-size: 50px;
	}

	.unslider {
		width: 50%;
		position: relative;

	}

	.unslider li {
		margin-left: 50px;
	}

	#about {
		margin-left: 250px;
	}
}

@media all and (min-width: 550px) {
	footer #copyright {
		display: block;
	}
	#nav {
		margin-top: 100px;
		margin-right: 100px;
		margin-bottom: 50px
	}
}

@media all and (min-width: 960px) {
	nav a {
		font-size: 70px;
	}

	#about {
		width: 30%;
		float: right;
		margin-top: 150px;
		margin-right: 50px;
	}

	.my-slider {
		width: 40%;
	}
} 